<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="messageBoard.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="navbarMobile.css" />
    <link rel="stylesheet" href="attribution.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include("partials/navbar") %>
      <main class="main-wrapper">
        <h1 class="h1">Message Board</h1>
        <ul class="ul">
          <% messages.map((message) => { %>
          <li class="li msg-wrapper">
            <% if (message.username){%>
            <p><b class="msg-info">User:</b> <%=message.username%></p>

            <p><b class="msg-info">Title:</b> <%= message.title %></p>
            <p><b class="msg-info">Message:</b> <%= message.text %></p>
            <p>
              <b class="msg-info">Added on:</b> <%=
              message.timestamp.toDateString() %>
            </p>
            <% if (message.username == username){%>
            <a
              class="edit-btn"
              href="/message-board/edit/<%= message.messages_id%>"
              >Edit</a
            >
            <%}else {%> <%return%> <%} %> <%} else {%>
            <p><b>Title:</b> <%= message.title %></p>
            <p><b>Message:</b> <%= message.text %></p>
            <%} %>
          </li>
          <%})%>
        </ul>
      </main>
      <%- include("partials/navbarMobile") %>
    </div>
  </body>
</html>
