<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="updateMsg.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="navbarMobile.css" />
    <link rel="stylesheet" href="attribution.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include("partials/navbar"); %>
      <main class="main-wrapper">
        <h1 class="h1">Edit your Message</h1>
        <% message.map((message) => { %>
        <form
          class="form"
          method="post"
          action="/message-board/edit/<%= message.messages_id %>"
        >
          <label for="title">Edit Title</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= message.title %>"
            required
          />
          <label for="msg">Edit Message</label>
          <!-- <input
            type="text"
            id="msg"
            name="msg"
            value="<%= message.text %>"
            required
          /> -->
          <textarea
            class="textarea"
            name="msg"
            id="msg"
            maxlength="250"
            required
          >
<%= message.text %></textarea
          >
          <button class="submit-btn" type="submit">Submit</button>
        </form>
      </main>
      <%})%> <%- include("partials/navbarMobile") %>
    </div>
  </body>
</html>
